* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
}

/* THE FOLLOWING BREAKPOINTS WERE CHOSEN BASED ON BOOTSTRAP */

/* SMARTPHONES */
#calculator {
    height:100%;
    width:100%;

    background-color:black;
}


/* TABLETS */
@media (min-width: 576px) {

}

/* LAPTOPS & DESKTOPS */
@media (min-width: 992px) {
    
}

/* PERTAINS TO ALL */
#display {
    width:100%;
}
